/*--------------------Debug--------------------*/
%debug{
	@if $is-debugging{
		outline: 1px solid blue;
	}
}

body.is-overflow{
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#wrapper{
	overflow: hidden;
}

/*--------------------Hide Elements--------------------*/
.hide{
	display: none;
}
.hidden{
	opacity: 0;
	visibility: hidden;
}
@each $breakpoint, $size in $breakpoints {
	@media screen and (min-width: map-get($size,min)) and (max-width: map-get($size,max)){
		.hidden-#{$breakpoint} {
			display: none !important;
		}
	}
	@media screen and (min-width: map-get($size,min)){
		.hidden-#{$breakpoint}-up{
			display: none !important;
		}
	}
	@media screen and (max-width: map-get($size,max)){
		.hidden-#{$breakpoint}-down{
			display: none !important;
		}
	}
}


/*--------------------Generic Classes--------------------*/
*.float-left{
	float: left;
}
*.float-right{
	float: right;
}
*.clear-both{
	clear: both;
}
*.clearfix{
	content: '';
	display: block;
	clear: both;
}
*.num-font{
	font-family: $font-number;
	font-weight: $font-light;
	white-space: nowrap;
}


/*--------------------Typography--------------------*/
.font-title{
	font-family: $font-title;
}
.font-body{
	font-family: $font-body;
}
.font-number{
	font-family: $font-number;
}

// Transformation
.to-low{
	text-transform: lowercase;
}
.to-upp{
	text-transform: uppercase;
}
.to-cap{
	text-transform: capitalize;
}
// Alignment
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.text-nowrap{
	white-space: nowrap;
}

/*--------------------Images--------------------*/
.img-center{
	max-width: 100%;
	display: block;
	@include horizontal-center-auto;
}
.img-100{
	width: 100%;
	display: block;
}

/*--------------------General accordion--------------------*/
.accordion{
	&__trigger{
		cursor: pointer;
	}
	&__content{
		display: none;
	}
}

/*--------------------Overlays--------------------*/
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-overlay;
	overflow: hidden;
	visibility: hidden;;
	opacity: 0;
	background-color: rgba(black,0.8);
	transition: all 0.3s;
	&.is-active{
		visibility: visible;
		opacity: 1;
	}
}

/*--------------------Close Modal--------------------*/
.close-modal{
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	font-size: 1em;
	text-transform: uppercase;
	opacity: 0.8;
	transition: all 0.3s;
	cursor: pointer;
	&:hover{
		opacity: 1;
	}
}

/*--------------------SVG Icon--------------------*/
.svg-icon{
	width: 32px;
	height: 32px;
}
a{
	& > .svg-icon{
		width: 16px;
		height: 16px;
		display: inline-block;
		vertical-align: middle;
		margin-right: .4em;
		// transform: translateY(-2px);
	}
}

/*--------------------Callout--------------------*/
.callout{
	padding: 8em 2em;
	text-align: center;
	&__text{
		font-size: em(30);
		font-family: $font-title;
		color: $c-primary;
		text-transform: uppercase;
		letter-spacing: .05em;
		@include mediaFrom(lg){
			font-size: em(48);
		}
	}
}

/*--------------------Ordered List--------------------*/
ol.list{
	margin: 1em 0;
	padding-left: 1.5em;
	li{
		list-style-type: decimal;
		line-height: 1.5;
		margin-bottom: 1em;
	}
}

/*--------------------Disclaimer--------------------*/
.disclaimer{
	margin-top: 3em;
	font-size: 1em;
	line-height: 1.1;
	font-family: $font-subtitle;
	color: $c-secondary;
}


.bg-lightgray{
	background: lighten($c-lightgray, 3);
}

.wow{
	visibility: hidden;
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}
.lds-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #fff;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}