/*--------------------BASE--------------------*/
*,
*:after,
*:before{
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	outline: 0;
	marker-offset: 0;

	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;

	color: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{
	display: block;
}
ul, ol{
	list-style: none;
	margin-bottom: 0;
}
li{
	list-style: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------General Base--------------------*/
html{
	@include propertyBreakpoints(font-size, (bs: 14px, xs: 15px, md: 15px, lg: 16px, xl: 16px, xxl: 16px, hd: 16px));
	overflow-x: hidden;
	// scroll-behavior: smooth;
}
body{
	width: 100%;
	min-height: 100vh;
	cursor: default;
	font-family: $font-title;
	@include font-size;
	font-weight: $font-regular;
	line-height: 1.3;
	color: $c-text;
	background-color: white;
	transition: padding-top $animate-time;
}
h1, h2, h3, h4, h5, h6{
	font-family: $font-title;
	color: $c-primary;
	position: relative;
	@include padding-v(0.5, $unit: em);
	line-height: 1.1;
	> small{
		display: block;
		color: inherit;
	}
	strong{
		font-weight: $font-x-bold;
		color: inherit;
	}
}
h1{
	font-size: rem(22);
	letter-spacing: .05em;
	font-weight: $font-light;
	@media screen and (min-width: $screen-lg-min){
		font-size: rem(28);
	}
}
h2{
	font-size: rem(20);
	@media screen and (min-width: $screen-lg-min){
		font-size: rem(24);
	}
}
h3{
	font-size: em(18);
	@media screen and (min-width: $screen-lg-min){
		font-size: em(22);
	}
}
h4{
	@include font-size(1.5);
	@media screen and (min-width: $screen-lg-min){
		@include font-size(2);
	}
}
h5{
	@include font-size(1.3);
	@media screen and (min-width: $screen-lg-min){
		@include font-size(1.5);
	}
}
h6{
	@include font-size(1.1);
	@media screen and (min-width: $screen-lg-min) {
		@include font-size(1.3);
	}
}
p{
	margin-bottom: 1em;
	font-size: .95em;
	line-height: 1.75;
	letter-spacing: .05em;
	&:only-child,
	&:only-of-type,
	&:last-child{
		// margin-bottom: 0;
	}
	section &{
		text-align: justify;
	}
}
a{
	text-decoration: none;
	transition: color .2s ease, background .2s ease;
	cursor: pointer;
	color: $c-link;
	&:hover,
	&:focus{
		outline: none;
		color: darken($c-link, 5);
		text-decoration: none;
	}
	&:active{
		outline: none;
		color: darken($c-link, 10);
		text-decoration: none;
	}
}
b,
strong,
mark{
	font-weight: $font-bold;
	color: inherit;
	background: none;
}
i,
em{
	font-weight: $font-regular;
	font-style: normal;
}
em{
	color: inherit;
}
blockquote{
	margin: 0.75em 2em;
	@include font-size(1.2);
}
img{
	width: 100%;
	display: block;
}
button{
	background-color: transparent;
	cursor: pointer;
}