/*--------------------General Layout - Brand--------------------*/
.site-brand{
	position: absolute;
	top: ($header-height--xs - $cintillo-height--xs - $brand-height) / 2;
	left: 50%;
	z-index: $z-brand;
	@include mediaTo(md){
		transform: translateX(-50%);
	}
	@include mediaFrom(lg){
		top: ($header-height--lg - $cintillo-height--lg - $brand-height) / 2;
		left: $gutter;
	}
	svg,img{
		width: ($brand-width * 1);
		height: ($brand-height * 1);
		display: block;
		opacity: 1;
	}
}