/*--------------------General Layout - Cintillo--------------------*/
// Cintillo
.cintillo{
	width: 100%;
	display: block;
	position: relative;
	z-index: $z-cintillo;
	text-align: center;
	color: white;
	background: $c-primary;
	transition: top $animate-time;
	height: $cintillo-height--xs;
	line-height: $cintillo-height--xs;
	@include mediaFrom(lg){
		height: $cintillo-height--lg;
		line-height: $cintillo-height--lg;
	}
	&__text{
		font-size: rem(12);
		font-weight: $font-regular;
		span{
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}