/*--------------------General Layout - Footer--------------------*/
.site-footer{
	min-height: 25px;
	overflow: hidden;
	position: relative;
	z-index: $z-footer;
	color: $c-text;
	background: white;
	border-top: 2px solid $c-pastel-gray;
	padding: rem(40) 0 rem(32);
	margin-top: rem(40);
	@include mediaFrom(lg){
		margin-top: rem(50);
	}
	a{
		color: $c-primary;
	}
	.container,
	.container--wide{
		position: relative;
	}
}
// Footer nav
.foonav{
	&__item{
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-size: rem(12);
		margin-bottom: rem(25);
	}
}

.newsletter{
	&__wrapper{
		margin-top: rem(40);
		text-align: center;
		color: $c-primary;
		input{
			&.newsletter__input{
				width: 235px;
				height: 38px;
				line-height: 38px;
				padding: 0 10px;
				display: block;
				margin: 10px auto;
				font-size: rem(12);
				text-align: center;
				border-radius: 4px;
				border: 1px solid $c-dim-gray;
			}
		}
	}
	&__title{
		font-size: rem(18);
		margin: 0;
		padding: 0;
	}
	&__desc{
		font-size: rem(13);
		margin-bottom: 10px;
	}
}