/*--------------------General Layout - Header--------------------*/
$bg-header:				rgba(white, 1);
$bg-topbar:				$c-primary;
$c-topbar:				$c-for-bg-primary;
$c-topbar-h:			lighten($c-for-bg-primary, 10);
.site-header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $header-height--xs;
	z-index: $z-header;
	background: $bg-header;
	border-bottom: 2px solid $c-pastel-gray;
	transition: all .3s;
	// @include debug(true);
	@include mediaTo(md){
		background: $bg-header;
		// box-shadow: 0px 0px 20px rgba(darken($c-primary,10), .2);
	}
	@include mediaFrom(lg){
		height: $header-height--lg;
		z-index: $z-header--desktop;
		.page-scroll-on &{
			height: $header-height--lg-scroll;
			top: - $topbar-height--lg;
			background: $bg-header;
			box-shadow: 0px 0px 15px rgba($c-primary, .5);
		}
	}
	.container,
	.container--wide{
		position: relative;

	}
}
// Header - Second Nav
.second-nav{
	position: absolute;
	right: 16px;
	bottom: 21px;
	font-size: rem(12);
	text-transform: uppercase;
	@include mediaFrom(lg){
		top: 75px;
		right: 50%;
		margin-right: - (1000px / 2);
	}
	@include mediaFrom(xl){
		margin-right: - (1200px / 2);
	}
	&__list{
		display: flex;
	}
	&__item{
		margin-left: 18px;
		a{
			color: $c-dim-gray;
		}
		&.account{
			@include mediaTo(md){
				display: none;
			}
		}
		&.minicart{
			position: relative;
			@include mediaTo(md){
				span{
					display: none;
				}
			}
			svg{
				width: 40px;
				height: 40px;
			}
		}
	}
}
.minicart__trigger{
	position: relative;
	padding-right: 50px;
	display: inline-block;
	&-icon{
		position: absolute;
		right: 0;
		bottom: -6px;
	}
}
#total-items{
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
}
