/*--------------------General Layout - Main--------------------*/
main{
	margin-bottom: auto;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	z-index: $z-main;
	background: rgba(white,0.2);
	padding-top: $header-height--xs;
	min-height: 500px;
	padding-top: $header-height--xs;
	@include mediaFrom(lg){
		padding-top: $header-height--lg;
	}
}