/*--------------------Nav [Trigger]--------------------*/
$trigger-size: 18px;
$trigeer-line-height: 2px;

$c-mainnav-desktop:		$c-primary;
$c-mainnav-desktop-h:	lighten($c-secondary, 0);
$c-mainnav-desktop-s:	$c-secondary;
$c-mainnav-desktop-s-h:	lighten($c-secondary, 10);

$c-subnav-desktop:		$c-primary;
$bg-subnav-desktop:		none;
$c-subnav-desktop-h:	$c-primary;
$bg-subnav-desktop-h:	$c-light-gray;

.mainnav__trigger{
	display: block;
	position: fixed;
	left: 1em;
	top: $cintillo-height--xs + (($header-height--xs - $cintillo-height--xs) / 2) - ($trigger-size / 2);
	width: $trigger-size;
	height: $trigger-size;
	cursor: pointer;
	z-index: $z-mainnav-trigger;
	opacity: .9;
	span{
		display: block;
		width: 100%;
		height: $trigeer-line-height;
		border-radius: $trigeer-line-height;
		background: $c-primary;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all .3s;
		.mainnav-visible &{
			background: transparent;
			&.arrow{
				background: $c-link;
				&:before{
					.mainnav-visible &{
						top: -($trigger-size/5);
						transform: rotate(-45deg);
						background: $c-link;
						width: 50%;
						left: -1px;
					}
				}
				&:after{
					.mainnav-visible &{
						top: ($trigger-size/5);
						transform: rotate(45deg);
						background: $c-link;
						width: 50%;
						left: -1px;
					}
				}
			}
		}
		&:before,
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: $trigeer-line-height;
			position: absolute;
			left: 0;
			border-radius: $trigeer-line-height;
			background: $c-primary;
			transition: all .3s;
		}
		&:before{
			top: -($trigger-size/3);
			.mainnav-visible &{
				top: 0;
				transform: rotate(45deg);
				background: $c-link;
			}
		}
		&:after{
			top: ($trigger-size/3);
			.mainnav-visible &{
				top: 0;
				transform: rotate(-45deg);
				background: $c-link;
			}
		}
	}
	@include mediaFrom(lg){
		display: none;
	}
}

/*--------------------Ovarlay--------------------*/
body.mainnav-visible,
html.mainnav-visible{
	overflow: hidden;
}
.overlay{
	.mainnav-visible &{
		background: rgba(darken($c-lightgray, 10), .2);
		opacity: 1;
		visibility: visible;
	}
}

/*--------------------Nav [General Layout]--------------------*/
$transition-time-mainanv: .6s;
.mainnav{
	&__wrapper{
		.container--wide{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: $header-height--xs - $topbar-height--xs;
			@include mediaFrom(lg){
				height: $header-height--lg - $topbar-height--lg;
			}
		}
	}
	&{
		font-family: $font-mainnav;
		padding-top: rem(36);
		padding-bottom: rem(25);
		padding-left: $brand-width + $gutter + 20px;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: baseline;
	}
	&__item{
		@include mediaFrom(lg){
			transition: all $transition-time-mainanv;
			margin-right: rem(20);
			&.last{
				margin-right: 0;
			}
		}
		&.submenu__wrapper{
			&:hover{
				a{
					position: relative;
					&:before{
						content: '';
						display: block;
						position: absolute;
						width: 180%;
						height: 30px;
						left: 50%;
						top: 100%;
						transform: translateX(-50%);
					}
				}
			}
		}
		&:hover,
		&:focus,
		&:active{
			@include mediaFrom(lg){
				a{
					color: $c-mainnav-desktop-h;
				}
			}
		}
	}
	a{
		color: $c-mainnav-desktop;
		text-decoration: none;
		font-size: rem(14);
		display: inline-block;
		line-height: rem(18);
		font-weight: $font-regular;
		transition: all .3s;
		&:hover,
		&:focus,
		&:active{
			color: $c-mainnav-desktop-h;
		}
	}
}

/*--------------------Mobile--------------------*/
@media screen and (max-width: $screen-md-max){
	.mainnav{
		overflow-y: scroll;
		&{
			position: fixed;
			width: 400px;
			max-width: 90%;
			padding: 130px 0 1em 0;
			background: rgba(lighten($c-lightgray, 3), 1);
			left: -100%;
			top: 0;
			height: 100%;
			box-shadow: 0px 0px 20px rgba($c-primary, .9);
			color: lighten($c-text, 10);
			transition: all .3s;
			z-index: $z-mainnav-mobile;
			.mainnav-visible &{
				left: 0;
			}
		}
		a{
			display: block;
			line-height: 2;
			color: $c-primary;
			position: relative;
			text-align: left;
			padding: 0 1em;
			&:hover,
			&:focus{
				color: lighten($c-link, 20);
			}
			&:active{
				color: lighten($c-link, 30);
				text-shadow: none;
			}
		}
		li{
			order: 1;
			width: 100%;
		}
		&__list{
			height: auto;
			min-height: 100%;
			flex-direction: column;
			align-items: auto;
			align-content: flex-start;
		}
		&__item{
			width: 100%;
			text-align: center;
			order: 1;
			position: relative;
			a{
				color: $c-primary;
				line-height: rem(40);
				border-bottom: 1px solid $c-dim-gray;
				&:hover,
				&:focus{
					color: $c-secondary;
				}
				&:active{
					color: lighten($c-secondary, 10);
					text-shadow: none;
				}
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%);
				}
			}
			&.logo{
				order: 0;
				padding-top: 2em;
				background: none;
				a{
					background: none;
					&:after{
						display: none;
					}
				}
			}
			&.last{
				flex-grow: 1;
			}
			&-contact{
				font-size: em(12);
				a{
					color: $c-link;
					display: block;
					text-transform: none;
					text-align: center;
				}
				&.first{
					margin-top: 3em;
				}
				&.last{
					margin-bottom: 2em;
				}
				svg{
					width: 15px;
					height: 15px;
					display: inline-block;
					vertical-align: middle;
					margin-right: .4em;
				}
			}
			&-sm{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin-bottom: .5em;
				a{
					padding: 0;
					margin: 0 .5em;
				}
				.svg-icon{
					width: 26px;
					height: 26px;
					color: $c-tertiary;
				}
			}
			&-copyright{
				align-self: flex-end;
				font-size: em(12);
				letter-spacing: .15em;
				text-align: center;
			}
		}
	}
}


/* -------------------Submenu ------------------- */
.submenu{
	@include mediaFrom(lg){
		position: absolute;
		right: 0;
		top: 80px;
		width: 100%;
		background: rgba(white, 1);
		border-radius: 4px;
		.page-scroll-on &{
			background: white;
		}
		.submenu__wrapper:hover &{
			padding: rem(30);
			box-shadow: 5px 5px 15px rgba(darken($c-primary, 10), .1);
		}
	}
	&__wrapper{
		@include mediaTo(md){
			position: relative;
		}
	}
	&__item{
		& > a{
			font-family: $font-subnav;
			font-weight: $font-regular;
			text-transform: none;
			font-size: rem(16);
			line-height: 2.5;
			display: block;
			padding-left: 2em;
			color: $c-primary;
			height: 0;
			overflow: hidden;
			transition: all .3s;
			@include mediaTo(md){
				opacity: 0;
				visibility: hidden;
			}
			&:hover,
			&:focus,
			&:active{
				color: $c-primary;
				opacity: .7;
			}
			.submenu__active &{
				height: 40px;
				opacity: 1;
				visibility: visible;
			}
			@include mediaFrom(lg){
				color: $c-subnav-desktop!important;
				&:hover,
				&:focus,
				&:active{
					color: $c-subnav-desktop-h!important;
				}
				.submenu__wrapper:hover &{
					 height: 40px;
				}
			}
		}
	}
	&__trigger{
		position: absolute;
		right: 1em;
		top: .3em;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		@include mediaFrom(lg){
			position: static;
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			line-height: 20px;
			transform: translateY(-4px);
			display: none;
		}
		svg{
			width: 11px;
			height: 11px;
			display: inline-block;
			vertical-align: middle;
			color: $c-primary;
			transition: .3s;
			@include mediaFrom(lg){
				color: $c-primary;
				.page-scroll-on &{
					color: $c-link;
				}
			}
			.submenu__active &{
				@include mediaTo(md){
					transform: rotate(-90deg);
				}
			}
		}
	}
}











