/*--------------------General Responsive--------------------*/
.site-header,
.site-nav,
.page-main--home-page,
.page-main--internal-page,
.site-footer,
.container{
	width: 100%;
	min-width: 240px;
}
.container{
	@include padding-h;
	@include horizontal-center-auto;
	@include mediaFrom(lg){
		width: 1000px;
	}
	@include mediaFrom(xl){
		width: 1230px;
	}
	&--wide{
		margin: 0 auto;
		width: 94%;
	}
}

.row-flex,
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: - $gutter-st;
	margin-right: - $gutter-st;
	&__item{
		flex-grow: 1;
		padding-left: $gutter-st;
		padding-right: $gutter-st;
	}
}

.col-3{
	@include flex-width(100%);
	@include padding-v;
	@include mediaFrom(lg){
		@include padding-v(0,0);
		@include flex-width(35%);
	}
}

.col-4{
	@include flex-width(100%);
	@include padding-v;
	@include mediaFrom(lg){
		@include padding-v(0,0);
		@include flex-width(41.66%);
	}
}
.col-8{
	@include flex-width(100%);
	@include padding-v;
	@include mediaFrom(lg){
		@include padding-v(0,0);
		@include flex-width(58.33%);
	}
}

.col-70-center{
	@include flex-width(100%);
	@include padding-v;
	@include mediaFrom(lg){
		@include padding-v(0,0);
		@include flex-width(70%);
		margin-top: 90px;
		margin-top: 80px;
		margin-left: auto;
		margin-right: auto;
	}
}


.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-hd-1,
.col-hd-2,
.col-hd-3,
.col-hd-4,
.col-hd-5,
.col-hd-6,
.col-hd-7,
.col-hd-8,
.col-hd-9,
.col-hd-10,
.col-hd-11,
.col-hd-12{
	@include flex-width(100%);
	@include padding-h;
	min-height: 1px;
	@include mediaTo(md){
		section &{
			@include padding-v(10,10);
		}
	}
}
@include mediaFrom(xs){
	.col-xs-1{
		@include flex-width(8.33%);
	}
	.col-xs-2{
		@include flex-width(16.66%);
	}
	.col-xs-3{
		@include flex-width(25%);
	}
	.col-xs-4{
		@include flex-width(33.33%);
	}
	.col-xs-5{
		@include flex-width(41.66%);
	}
	.col-xs-6{
		@include flex-width(50%);
	}
	.col-xs-7{
		@include flex-width(58.33%);
	}
	.col-xs-8{
		@include flex-width(66.66%);
	}
	.col-xs-9{
		@include flex-width(75%);
	}
	.col-xs-10{
		@include flex-width(83.33%);
	}
	.col-xs-11{
		@include flex-width(91.66%);
	}
	.col-xs-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(sm){
	.col-sm-1{
		@include flex-width(8.33%);
	}
	.col-sm-2{
		@include flex-width(16.66%);
	}
	.col-sm-3{
		@include flex-width(25%);
	}
	.col-sm-4{
		@include flex-width(33.33%);
	}
	.col-sm-5{
		@include flex-width(41.66%);
	}
	.col-sm-6{
		@include flex-width(50%);
	}
	.col-sm-7{
		@include flex-width(58.33%);
	}
	.col-sm-8{
		@include flex-width(66.66%);
	}
	.col-sm-9{
		@include flex-width(75%);
	}
	.col-sm-10{
		@include flex-width(83.33%);
	}
	.col-sm-11{
		@include flex-width(91.66%);
	}
	.col-sm-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(md){
	.col-md-1{
		@include flex-width(8.33%);
	}
	.col-md-2{
		@include flex-width(16.66%);
	}
	.col-md-3{
		@include flex-width(25%);
	}
	.col-md-4{
		@include flex-width(33.33%);
	}
	.col-md-5{
		@include flex-width(41.66%);
	}
	.col-md-6{
		@include flex-width(50%);
	}
	.col-md-7{
		@include flex-width(58.33%);
	}
	.col-md-8{
		@include flex-width(66.66%);
	}
	.col-md-9{
		@include flex-width(75%);
	}
	.col-md-10{
		@include flex-width(83.33%);
	}
	.col-md-11{
		@include flex-width(91.66%);
	}
	.col-md-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(lg){
	.col-lg-1{
		@include flex-width(8.33%);
	}
	.offset-lg-1{
		margin-left: 8.33%;
	}
	.col-lg-2{
		@include flex-width(16.66%);
	}
	.col-lg-3{
		@include flex-width(25%);
	}
	.col-lg-4{
		@include flex-width(33.33%);
	}
	.col-lg-5{
		@include flex-width(41.66%);
	}
	.col-lg-6{
		@include flex-width(50%);
	}
	.col-lg-7{
		@include flex-width(58.33%);
	}
	.col-lg-8{
		@include flex-width(66.66%);
	}
	.col-lg-9{
		@include flex-width(75%);
	}
	.col-lg-10{
		@include flex-width(83.33%);
	}
	.col-lg-11{
		@include flex-width(91.66%);
	}
	.col-lg-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(xl){
	.col-xl-1{
		@include flex-width(8.33%);
	}
	.col-xl-2{
		@include flex-width(16.66%);
	}
	.col-xl-3{
		@include flex-width(25%);
	}
	.col-xl-4{
		@include flex-width(33.33%);
	}
	.col-xl-5{
		@include flex-width(41.66%);
	}
	.col-xl-6{
		@include flex-width(50%);
	}
	.col-xl-7{
		@include flex-width(58.33%);
	}
	.col-xl-8{
		@include flex-width(66.66%);
	}
	.col-xl-9{
		@include flex-width(75%);
	}
	.col-xl-10{
		@include flex-width(83.33%);
	}
	.col-xl-11{
		@include flex-width(91.66%);
	}
	.col-xl-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(xxl){
	.col-xxl-1{
		@include flex-width(8.33%);
	}
	.col-xxl-2{
		@include flex-width(16.66%);
	}
	.col-xxl-3{
		@include flex-width(25%);
	}
	.col-xxl-4{
		@include flex-width(33.33%);
	}
	.col-xxl-5{
		@include flex-width(41.66%);
	}
	.col-xxl-6{
		@include flex-width(50%);
	}
	.col-xxl-7{
		@include flex-width(58.33%);
	}
	.col-xxl-8{
		@include flex-width(66.66%);
	}
	.col-xxl-9{
		@include flex-width(75%);
	}
	.col-xxl-10{
		@include flex-width(83.33%);
	}
	.col-xxl-11{
		@include flex-width(91.66%);
	}
	.col-xxl-12{
		@include flex-width(100%);
	}
}
@include mediaFrom(hd){
	.col-hd-1{
		@include flex-width(8.33%);
	}
	.col-hd-2{
		@include flex-width(16.66%);
	}
	.col-hd-3{
		@include flex-width(25%);
	}
	.col-hd-4{
		@include flex-width(33.33%);
	}
	.col-hd-5{
		@include flex-width(41.66%);
	}
	.col-hd-6{
		@include flex-width(50%);
	}
	.col-hd-7{
		@include flex-width(58.33%);
	}
	.col-hd-8{
		@include flex-width(66.66%);
	}
	.col-hd-9{
		@include flex-width(75%);
	}
	.col-hd-10{
		@include flex-width(83.33%);
	}
	.col-hd-11{
		@include flex-width(91.66%);
	}
	.col-hd-12{
		@include flex-width(100%);
	}
}











