/*--------------------Bread Crumbs--------------------*/
$breadcrumb_space:			10px;
$breadcrumb_color:			$c-primary;
.breadcrumb{
	margin-right: auto;
	overflow: hidden;
	font-family: $font-title;
	font-size: rem(14);
	font-weight: $font-regular;
	padding-top: rem(30);
	margin-bottom: rem(25);
	@include mediaFrom(lg){
		font-size: rem(11);
		margin-bottom: 0;
	}
	ul{
		@include flexbox($jc: flex-start);
	}
	li{
		position: relative;
		margin-right: $breadcrumb_space;
		color: $breadcrumb_color;
		@include debug;
		// First
		&:first-child{
			a{
				&:before{
					content: '>';
					display: inline-block;
					transform: scaleX(.5);
					font-size: rem(28);
					margin-right: 8px;
					vertical-align: middle;
					@include mediaTo(md){
						transform: rotate(180deg) scaleX(.5);
						margin-top: -2px;
					}
					@include mediaFrom(lg){
						font-size: rem(11 * 1.2);
					}
				}
			}
		}
	}
	a{
		display: block;
		position: relative;
		font-weight: inherit;
		color: inherit;
		line-height: rem(14);
	}
}