/*--------------------Button Wrapper--------------------*/
.btn-wrapper{
	display: block;
	margin-top: $gutter;
}

/*--------------------General Settings to Buttons--------------------*/
.btn-outline,
.btn-flat{
	font-family: $font-title;
	font-size: rem(12);
	font-weight: $font-light;
	cursor: pointer;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&.short{
		padding-left: 1em;
		padding-right: 1em;
	}
	&.large{
		padding-left: 2em;
		padding-right: 2em;
	}
	&.small{
		font-size: rem(10);
	}
	&.big{
		font-size: rem(14);
		padding-top: rem(18);
		padding-bottom: rem(18);
	}
	// To icons
	> i{
		margin-right: 0.5em;
	}
}

/*--------------------Button Lineal--------------------*/
.btn-outline{
	@include button-lineal;
	@each $color,$value in $color-palette-map {
		&.#{$color} {
			border-color: map-get($value,color);
			color: map-get($value,color);
			transition: all .3s;
		}
		&.#{$color}:hover,
		&.#{$color}:focus{
			color: map-get($value,font);
			background: map-get($value,color);
			box-shadow: 2px 2px 8px rgba(darken($c-primary, 10),.2);
		}
		&.#{$color}:active,
		&.#{$color}.active{
			color: map-get($value,font);
			background: darken(map-get($value,color), 10);
			box-shadow: 1px 1px 6px rgba(darken($c-primary, 10),.3);
		}
	}
}

/*--------------------Button Flat--------------------*/
.btn-flat{
	@include button-flat;
	@each $color,$value in $color-palette-map {
		&.#{$color} {
			color: map-get($value,font);
			background-color: darken(map-get($value,color),5);
		}
		&.#{$color}:hover,
		&.#{$color}:focus{
			background-color: darken(map-get($value,color),10);
		}
		&.#{$color}:active,
		&.#{$color}:active{
			background-color: darken(map-get($value,color),20);
		}
	}
}