/*--------------------Forms--------------------*/
form{
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	color: $c-text;
	.loading{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 50%;
		bottom: 1%;
		transform: translateX(-50%);
	}
	&.sending{
		& *{
			opacity: .8;
		}
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
		.loading{
			opacity: 1;
			visibility: visible;
		}
	}
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
  }
}

fieldset{
	margin-bottom: 1.5em;
}
legend{
	width: auto;
	@include padding-v(10);
	@include font-size(1.3);
	font-weight: $font-semibold;
	color: inherit;
	text-transform: uppercase;
}
// Control wrappers
.control-wrapper{
	width: 100%;
	position: relative;
	clear: both;
	margin-bottom: 5px;
	&--send{
		overflow: hidden;
		clear: both;
		margin-bottom: 0;
	}
	&--captcha{
		background: none;
		> input[type="text"]{
			width: 50%;
			float: right;
			clear: none;
			border: 1px solid $c-primary;
			margin-top: 20px;
		}
		> img{
			width: 45%;
			display: block;
			float: left;
		}
		> a{
			position: absolute;
			top: 0;
			right: 65%;
			cursor: pointer;
		}
	}
	&.float-left,
	&.float-right{
		@media screen and (min-width: $screen-xs-min){
			width: 48%;
			clear: none;
		}
	}
}
.current-data{
	// border-bottom: 1px solid $c-gray;
	label{
		// @include font-size(0.8);
	}
}
// Labels & Controls
label{
	border: none;
	font-weight: $font-regular;
	color: darken($c-text,10);
	line-height: 25px;
	span{
		height: 25px;
		margin-left: 2px;
		font-family: $font-number;
		font-weight: $font-light;
		color: $c-primary;
	}
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="color"],
select,
textarea{
	width: 100%;
	height: 30px;
	display: block;
	clear: both;
	padding-left: 1em;
	padding-right: 1em;
	border-width: 1px;
	border-style: solid;
	border-color: lighten($c-primary,15);
	@include font-size;
	font-weight: $font-light;
	color: inherit;
	background-color: rgba(white,0.8);
	@include placeholder(lighten($c-text,20));
	transition: all .5s ease;
	&:focus{
		// border: 1px solid $c-primary;
	}
	&.touched:invalid{
		border: 1px dashed $c-invalid;
		box-shadow: none;
	}
}
input[type="file"]{
	height: 32px;
}
input[type="checkbox"],
input[type="radio"]{
	margin: 5px 5px 0 0;
}
textarea{
	height: 80px;
}

// Alerts
.alert{
	overflow: hidden;
	@include padding-v(10);
	@include margin-v(5);
	@include font-size;
	color: darken($c-text,10);
	text-align: center;
	border-width: 1px;
	border-style: solid;
	&.info{
		color: $c-text;
		border-color: $c-text;
		background-color: lighten($c-text,55);
	}
	&.success{
		color: $c-success;
		border-color: $c-success;
		background-color: lighten($c-success,55);
	}
	&.error,
	&.danger{
		color: $c-invalid;
		border-color: $c-invalid;
		background-color: lighten($c-invalid,40);
	}
	span{
		font-weight: $font-medium;
	}
}

// Validate
.error{
	display: block;
	color: $c-invalid;
}
label.error{
	@include font-size(0.7);
	font-weight: $font-regular;
	color: $c-invalid;
}
input.error,
textarea.error{
	border-color: lighten($c-invalid,25) !important;
}

// Contact form
.contact-form{
	.control-wrapper{
		margin-bottom: 15px;
	}
}