/*--------------------Go to Top--------------------*/
.go-to-top{
	display: inline-block;
	position: fixed;
	bottom: 65px;
	right: 20px;
	z-index: 1000;
	padding: 10px;
	cursor: pointer;
	border: 1px solid lighten($c-secondary, 80);
	background-color: white;
	transition: opacity $animate-time;
	&:hover{
	}
	> i{ 
		margin-right: 0;
		font-size: 1.5em;
		font-weight: $font-light;
		color: white;
		&:hover{
		}
	}
}
.svg-icon-go-to-top{
	@include sizeProportion($dW: 2);
	color: $c-secondary;
	vertical-align: middle;
}