.searchbar{
	&__wrapper{
		position: absolute;
		left: 50px;
		top: 75px;
		width: 131px;
		@include mediaFrom(lg){
			top: 75px;
			left: auto;
			right: 50%;
			margin-right: - (1000px / 2) + 200;
		}
		@include mediaFrom(xl){
			top: 75px;
			right: 50%;
			margin-right: - (1200px / 2) + 220;
		}
		input{
			&.searchbar__input{
				border: 0;
				border-radius: 0;
				border-bottom: 1px solid $c-dim-gray;
				height: 20px;
				padding: 0;
				font-size: rem(12);
				background: none;
				@include mediaTo(md){
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
	&{
		position: relative;
	}
	&__button{
		position: absolute;
		right: 0;
		bottom: 6px;
		z-index: 1;
		@include mediaTo(md){
			position: fixed;
			left: 50px;
			bottom: auto;
			top: 80px;
		}
		svg{
			width: 16px;
			height: 16px;
			display: block;
			color: $c-dim-gray;
		}
	}
}