/* ------------------ PLP ------------------ */
#plp-items__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#show-sort-options{
	cursor: pointer;
	display: inline-block;
}
.plp{
	// Layout
	&__title{
		padding-bottom: rem(22);
		text-align: center;
		transition: color .3s;
		&.active{
			color: $c-secondary;
		}
		@include mediaFrom(lg){
			text-align: left;
			border-bottom: 2px solid $c-pastel-gray;
		}
	}
	&__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include mediaFrom(lg){
			padding-top: rem(10);
		}
	}
	&-filters{
		&__wrapper{
			@include mediaTo(md){
				position: fixed;
				left: -105%;
				opacity: 0;
				visibility: hidden;
				top: 0;
				width: 100%;
				height: 100%;
				padding: rem(30);
				background: white;
				overflow-y: scroll;
				z-index: 1000;
				transition: all .3s;
				body.filters-active &{
					left: 0;
					opacity: 1;
					visibility: visible;
				}
			}
			@include mediaFrom(lg){
				width: 22.5%;
			}
		}
	}
	&__wrapper{
		width: 100%;
		@include mediaFrom(lg){
			width: 75%;
		}
	}

	// PLP Header
	&__header{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: rem(10) 0;
		@include mediaTo(md){
			margin-left: -$gutter;
			margin-right: -$gutter;
		}
	}
	&__total-items{
		font-size: rem(13);
		font-weight: $font-regular;
		text-transform: uppercase;
		letter-spacing: rem(1.3);
		@include mediaTo(md){
			order: 3;
			padding: rem(20) rem(16) rem(10);
		}
	}
	&-sort{
		&__wrapper{
			position: relative;
			@include mediaTo(md){
				order: 2;
				height: 55px;
				line-height: 55px;
				text-align: center;
				width: 50%;
				border: 1px solid $c-dim-gray;
				cursor: pointer;
			}
		}
		&__content{
			position: absolute;
			right: 0;
			top: 100%;
			border: 1px solid $c-pastel-gray;
			padding: rem(5) rem(20) rem(10);
			opacity: 0;
			visibility: hidden;
			z-index: 1;
			background: white;
			transition: all .3s;
			&.active{
				opacity: 1;
				visibility: visible;
			}
		}
		&__title{
			font-size: rem(13);
			font-weight: $font-regular;
			letter-spacing: rem(1.3);
			position: relative;
			@include mediaTo(md){
				font-size: rem(12);
				letter-spacing: 0;
			}
			svg{
				&.arrow-down{
					width: 12px;
					height: 12px;
					display: inline-block;
					vertical-align: middle;
				}
				&.arrow-right-full{
					width: 16px;
					height: 16px;
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		&__item{
			text-align: right;
			&-active,
			&-link{
				font-size: rem(15);
				color: $c-taupe-gray;
				&:hover{
					color: $c-primary;
				}
			}
			&-link{
				display: block;
				padding: rem(5) 0;
			}
		}
	}
	&__load-more{
		text-align: center;
	}
}