.product-item{
	&__wrapper{
		#plp-items__list &{
			width: 100%;
			margin-bottom: rem(20);
			@include mediaFrom(sm){
				width: 49.5%;
				margin-bottom: rem(30);
			}
			@include mediaFrom(xl){
				width: 33%;
				margin-bottom: rem(50);
			}
		}
	}
	&__image{
		display: block;
		position: relative;
		background: $c-pastel-gray;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__flags{
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__flag{
		font-size: rem(11);
		line-height: rem(14);
		padding: rem(2) rem(5);
		background: $c-primary;
		color: $c-for-bg-primary;
		text-transform: uppercase;
		margin-bottom: rem(4);
	}
	&__name{
		font-size: rem(12);
		line-height: rem(15);
		font-weight: $font-regular;
		text-transform: uppercase;
		padding: 0;
		margin: rem(5) 0;
	}
	&__price{
		display: flex;
		align-items: center;
	}
	&__list-price{
		font-size: rem(12);
		color: $c-dusty-gray;
		text-decoration: line-through;
		margin-right: rem(10);
		display: none;
		.product-item__price.promo &{
			display: block;
		}
	}
	&__sell-price{
		font-size: rem(15);
		color: $c-primary;
	}
	&__installments{
		font-size: rem(12);
		color: $c-secondary;
	}
}